body {
	background-color: #FFF;
}

.body{
	padding: 50px;
}

.leaderboard {
	font-family: Arimo,sans-serif;
	margin: 20px auto;
	margin-left: 10%;
	margin-right: 10%;
}

.data_statistics {
	text-align: left;
}

.title {
	text-align: center;
	font-size: 30px;
	color: #000;
}
